#SearchPage {
  max-width: 700px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.src-cont {
  max-width: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 35px;
  column-gap: 10px;
}
.cntr {
  display: table;
  width: 100%;
  max-width: 400px;
  height: 100%;
}
.cntr .cntr-innr {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.search {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  margin: 0px 8px 7px 45px;
  padding: 5px 9px 5px 9px;
  border: 3px solid var(--text);
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
}
.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5px;
  top: 21px;
  background:var(--text);
  border-radius: 3px;
  transform: rotate(-45deg);
  transition: all 200ms ease;
}
.search:hover {
  width: 100%;
  max-width: 400px;
  margin-right: 0px;
  margin-left: 35px;
}
.search.active{
  width: 100%;
  max-width: 400px;
  margin-right: 0px;
  margin-left: 3px;
}
.search.active:after,
.search:hover:after {
  height: 0px;
}
.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-size: 15px;
  background: transparent;
  outline-width: 0px;
}

.btn-search{
  border: none;
  background: var(--background);
  font-size: 29px;
  color: var(--text-darker);
  padding-top: 1px;
  transition: all .2s ease;
}
